@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 70px;
    font-family: 'Amatic SC', sans-serif;
}

body {
    background: #F47E49;
    

}

h1 {
    text-align: center;
    font-weight: normal;
    margin-top: 5x;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: .9em;
}
h2{
    text-align: center;
    font-weight: bold;
    font-size: 0.7em;
    line-height: 40px;
    margin-bottom: 20px;
}
textarea {
    border: none;
    max-width: 1000px;
    width: 90%;
    height: 20vh;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    font-size: .6em;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.output{
    font-size: 0.6em;
    word-wrap: break-word;
    letter-spacing: 1px;

}

.p-container {

    width: 1000px;
    max-width: 90%;
    display: block;
    margin: 0 auto;
}

@media(min-width:950px) {
    h1 {
        font-size: 1em;
        margin-bottom: 10px;
    }
h2{
    font-size: 0.8em;
    margin-bottom: 30px;
}
    textarea {
        margin-bottom: 30px;
    }


}

@media(max-width:300px) {
    h1 {
        font-size: .8em;
    }
h2{
    font-size: 0.6em;
    line-height: 30px;
    margin-bottom: 15px;
}
    textarea {
        margin-bottom: 30px;
     }

    .output, textarea {
        font-size: .5em;
    }

}